doctype html
html(lang='en' data-ng-app='friedRiceClub')
  head
    title FriedRiceClub
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
    script(src='vendor/js/nib.js')
  body

    .navbar.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-ng-init='navCollapsed = true' data-ng-click='navCollapsed = !navCollapsed')
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#/') FriedRiceClub
        .navbar-collapse.collapse(collapse='navCollapsed')
          ul.nav.navbar-nav
            li(data-ui-sref-active='active')
              a(data-ui-sref='home') Home

    .container
      div(data-ui-view)

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
